*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER section  */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 170px;
    margin-top: 34px;
}

nav {
    margin-left: 40px;
    margin-right: 520px;
}


nav >a {
    padding-left: 30px;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

.get-scooting {
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding-top: 13px;
    color: white;
    width: 180px;    
    height: 54px;
    background-color: #FCB72B;
    transition: opacity 0.15s;
}

.get-scooting:hover {
    opacity: 0.7;
}
.get-scooting:active {
    background-color: green;
}

/* MAIN SECTION  */

/* HERO SECTION  */
.hero-section {
    width: 1440px;
    height: 650px;
    margin-left: 45px;
    margin-top: 30px;
    position: relative;
    border: 1px solid blue;
}

.scooter {
    font-family: 'Space Mono', monospace;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    text-align: left;
    width: 500px;
    height: 112px;
    margin-left: 165px;
    padding-top: 160px;
    color: black;
}

.scoot{
    width: 405px;
    height: 100px;
    margin-left: 260px;
    padding-top: 147px;
    padding-bottom: 150px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: black;
}

.get-scooting2{
    width: 180px;
    height: 53px;
    margin-left: 260px;
    background-color: #FCB72B;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: white;
    padding: 14px 36px;
    transition: opacity 0.15s;
}

.hero-section > a:hover {
    opacity: 0.7;
}

.hero-section > a:active{
    background-color: green;
}

.path2 {
    position: absolute;
    top: 350px;
}

.arrow1 {
    position: absolute;
    bottom: 145px;
    right: 280px;
}

.circle-div {
    display: flex;
    width: 234px;
    height: 63px;
    top: 518.5px;
    margin-left: 1254px;
    justify-content: space-evenly;
    position: absolute;
    top: 420px;
}
.circle-div1,.circle-div2 {
    width: 62px;
    height: 62px;
    border: 3px solid white;
    border-radius: 31px;
}

.circle-div3 {
    width: 62px;
    height: 62px;
    background-color: white;
    border-radius: 31px;
}

/* LOCATE WITH APP SECTION  */

.ash-div {
    width: 974px;
    height: 1px;
    border: 15px solid #E5ECF4;
    margin-top: -250px;
    margin-left: 80px;
   

}

.locate-section{
    width: 1275px;
    height: 291px;
    margin-top: 100px;
    margin-left: 165px;
}

.locate-div {
    display: flex;
    justify-content: space-around;
}

.shape-div {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background-color: #FCB72B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 38.38px;
    height: 47.97px;
    color: #495567;
}

.locate-card > h3 {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.0714285373687744px;
    text-align: left;
    color: #495567;
    width: 350px;
    height: 28px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.locate-card > p {
    width: 350px;
    height: 100px;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

/* <!-- EASY TO USE RIDING TELEMETRY SECCTION  --> */
.easy-section {
    width: 1619px;
    height: 445px;
    margin-top: 300px;
    margin-left: 165px;
    position: relative;
}

.easy-div {
    display: flex;
}

.telemetry {
    margin-right: 350px;
}
.telemetry > h1 {
    width: 445px;
    height: 96px;
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    color: #495567;
    margin-top: 50px;
}

.telemetry > p {
    width: 445px;
    height: 100px;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
    margin-top: 30px;
    margin-bottom: 60px;
}

.learn-more {
    width: 180px;
    height: 53px;
    background-color: #FCB72B;
    font-family: 'Space Mono' , monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    transition: opacity 0.15s;
}
.learn-more:hover {
    opacity: 0.7;
}
.learn-more:active {
    background-color: green;
}

.path-4 {
    position: absolute;
    right: 200px;
    bottom: 30px;
}
.group-13 {
    margin-left: 670px;
    margin-top: -90px;
}

/* GOING TO THE CITY NEAR YOU SECTION  */

.city-div {
 display: flex;
 justify-content: space-around;
 margin-top: 100px;
}

.city-div1 > h1 {
    width: 445px;
    height: 96px;
    font-family: 'Space Mono' , monospace;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    color: #495567;
    margin-top: 30px;
}

.city-div1 > p {
    width: 445px;
    height: 100px;
    font-family: 'Lexend Deca' , sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
    margin-top: 30px;
    margin-bottom: 60px;
}

.group-8-copy {
    position: absolute;
}
.city-section {
    position: relative;
 
}

/* ZERO HASSLE PAYMENTS SECTION  */
.payment-section {
    width: 1619px;
    height: 445px;
    margin-top: 100px;
    margin-left: 165px;
    position: relative;
}
.payment-div {
    display: flex;
    justify-content: space-around;
}

.wallet > img {
    margin-right: 350px;
    width: 445px;
    height: 445px;
    border-radius: 222.5px;
}

/* FOOTER SECTION  */
footer {
    width: 1440px;
    height: 396px;
    margin-top: 100px;
    margin-left: 40px;
    background-image: url(../images\ folder/mask.png);
}

.footer-div {
    width: 1440px;
    height: 300px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-div > div > h1 {
    color: white;
    width: 415px;
    height: 96px;
    font-family: 'Space Mono' , monospace;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
    text-align: left;
}

.path5 {
    position: absolute;
    right: -150px;
    top: 60px;
}

.group14 {
    position: absolute;
    right: 550px;
    top: 123px;
}

.google-play {
    margin-left: 20px;
}

/* FOOTER NAV  */
.footer-nav {
    background-color: #333A44;
    width: 1440px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-scoot {
    display: flex;
    width: 417px;
    height: 29px;
    justify-content: space-around;
    align-items: center;
}

.footer-scoot{
    margin-right: 350px;
}

.footer-scoot > a {
    font-family: 'Space Mono' , monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}
.footer-scoot > a :hover {
    color:#FCB72B;
}

/* FOOTER ICONS  */

.footer-icons > a {
    padding-left: 20px;
    color:#FCB72B;
}


.footer-icons > a:hover {
    color: #939CAA;
}
