*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER section  */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 170px;
    margin-top: 34px;
}

nav {
    margin-left: 40px;
    margin-right: 520px;
}


nav >a {
    padding-left: 30px;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

.get-scooting {
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding-top: 13px;
    color: white;
    width: 180px;    
    height: 54px;
    background-color: #FCB72B;
    transition: opacity 0.15s;
}

.get-scooting:hover {
    opacity: 0.7;
}
.get-scooting:active {
    background-color: green;
}

/* MAIN SECTION  */

/* HERO SECTION  */
.hero-section {
    width: 1440px;
    height: 650px;
    margin-left: 45px;
    margin-top: 30px;
    background-image: url(../images\ folder/Bitmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.scooter {
    font-family: 'Space Mono', monospace;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    text-align: left;
    width: 500px;
    height: 112px;
    margin-left: 165px;
    padding-top: 160px;
    color: #FFFFFF;
}

.scoot{
    width: 405px;
    height: 100px;
    margin-left: 260px;
    padding-top: 147px;
    padding-bottom: 150px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: white;
}

.get-scooting2{
    width: 180px;
    height: 53px;
    margin-left: 260px;
    background-color: #FCB72B;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: white;
    padding: 14px 36px;
    transition: opacity 0.15s;
}

.hero-section > a:hover {
    opacity: 0.7;
}

.hero-section > a:active{
    background-color: green;
}

.path2 {
    position: absolute;
    top: 350px;
}

.arrow1 {
    position: absolute;
    bottom: 145px;
    right: 280px;
}

.circle-div {
    display: flex;
    width: 234px;
    height: 63px;
    top: 518.5px;
    margin-left: 1254px;
    justify-content: space-evenly;
    position: absolute;
    top: 420px;
}
.circle-div1,.circle-div2 {
    width: 62px;
    height: 62px;
    border: 3px solid white;
    border-radius: 31px;
}

.circle-div3 {
    width: 62px;
    height: 62px;
    background-color: white;
    border-radius: 31px;
}